In [5]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# API endpoint if preferred to run this notebook!
# url = "https://data.ny.gov/resource/wujg-7c2s.csv?$query=SELECT%0A%20%20%60station_complex%60%2C%0A%20%20%60transit_timestamp%60%2C%0A%20%20%60borough%60%2C%0A%20%20sum(%60ridership%60)%20AS%20%60sum_ridership%60%0AWHERE%0A%20%20caseless_one_of(%60transit_mode%60%2C%20%22subway%22)%0A%20%20AND%20(%60transit_timestamp%60%0A%20%20%20%20%20%20%20%20%20BETWEEN%20%222024-01-01T00%3A00%3A00%22%20%3A%3A%20floating_timestamp%0A%20%20%20%20%20%20%20%20%20AND%20%222024-10-19T00%3A00%3A00%22%20%3A%3A%20floating_timestamp)%0AGROUP%20BY%20%60station_complex%60%2C%20%60transit_timestamp%60%2C%20%60borough%60"

#response = requests.get(url)
#data = response.content.decode('utf-8')
#data2024 = pd.read_csv(pd.compat.StringIO(data))

In [9]:
# Read into machine
data2024 = pd.read_csv('MTA_data_challenge.csv')
data2024['transit_timestamp'] = pd.to_datetime(data2024['transit_timestamp'])

In [11]:
data2024.head()

              station_complex   transit_timestamp    borough  ridership
0      21 St-Queensbridge (F) 2024-02-03 06:00:00     Queens         27
1  14 St (F,M,1,2,3)/6 Av (L) 2024-01-25 01:00:00  Manhattan         95
2                Avenue U (N) 2024-01-17 19:00:00   Brooklyn         57
3  Jay St-MetroTech (A,C,F,R) 2024-01-26 19:00:00   Brooklyn       1302
4         Northern Blvd (M,R) 2024-01-29 18:00:00     Queens        212

In [17]:
# Grouping by station and summing total ridership
busiest_stations = data2024.groupby('station_complex')['ridership'].sum().nlargest(5)
print(busiest_stations)

station_complex
Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)    33157466
Grand Central-42 St (S,4,5,6,7)                     24594316
34 St-Herald Sq (B,D,F,M,N,Q,R,W)                   17942992
14 St-Union Sq (L,N,Q,R,W,4,5,6)                    16424698
Fulton St (A,C,J,Z,2,3,4,5)                         13998124
Name: ridership, dtype: int64

In [18]:
data2024['hour'] = data2024['transit_timestamp'].dt.hour

# Grouping by station and hour, and calculating the average ridership
average_hourly_ridership = data2024.groupby('station_complex').agg({'ridership': 'median'}).nlargest(5, 'ridership')
print(average_hourly_ridership)

                                                  ridership
station_complex
Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     5053.0
Grand Central-42 St (S,4,5,6,7)                      3118.0
34 St-Herald Sq (B,D,F,M,N,Q,R,W)                    2604.0
14 St-Union Sq (L,N,Q,R,W,4,5,6)                     2167.0
34 St-Penn Station (A,C,E)                           2056.0

In [19]:
# Group by hour and station, then calculate average ridership
average_ridership = data2024.groupby(['hour', 'station_complex'])['ridership'].median().reset_index()
max_ridership_per_hour = average_ridership.loc[average_ridership.groupby('hour')['ridership'].idxmax()]

# Display the result
print(max_ridership_per_hour)

       hour                                    station_complex  ridership
399       0   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     1832.0
823       1   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)      673.5
1247      2   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)      318.0
1671      3   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)      207.0
1822      4  74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,...      449.0
2519      5   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     2374.5
2943      6   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     5597.0
3367      7   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     8414.0
3791      8   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)    10631.5
4215      9   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     7429.0
4639     10   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     5280.5
5063     11   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     4715.0
5487     12   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     4668.0
5911     13   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     4969.0
6335     14   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     5776.0
6759     15   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     6879.5
7183     16   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     8840.0
7490     17                    Grand Central-42 St (S,4,5,6,7)    14446.5
7914     18                    Grand Central-42 St (S,4,5,6,7)    10572.5
8455     19   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     6415.5
8879     20   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     5605.0
9303     21   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     6282.5
9727     22   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     6155.0
10151    23   Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)     3231.5